<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <label>
            Podaj liczbe rzutow:
                <input type="number" value="1" min="1" name="nbr_throws">
        </label><br>
            Podaj kostke:
                <select name="brick_type">
                    {% for i in list %}
                            <option  value="{{ i["brick_type_id"] }}">{{ i["brick_type"] }}</option>
                    {% endfor %}
                </select>
        </label><br>
        <label>
            Podaj wartos jaka trzeba odjac/dodac:
                <input type="number" value="0" name="nbr_help">
        </label><br>
        <label>
            <button type="submit">Add brick</button>
        </label>


    </form>
</body>
</html>